!!!
%html
	%head
		%meta{charset: 'UTF-8'}
		%title paymemo
		%script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js'}
		%script{src: '/js/paymemo.js'}
		%link{rel: 'stylesheet', href: '/css/default.css', type: 'text/css'}
		%link{rel: "apple-touch-icon", href: "/css/webclip.png"}
		%meta{name: "viewport", content: "width=device-width; maximum-scale=1.0; user-scalable=no"}
	%body
		%h1 paymemo

		.paymemo#sample
			%h2
			%form
				%input.paymemo-item{name: "item", placeholder: "item name", required: '', autofocus: ''}
				%input.paymemo-amount{type: "number", name: "amount", placeholder: "amount"}
				%input{name: "db", type: "hidden", value: ""}
				%input.paymemo-submit{type: "submit", value: "+"}
				%table
					%caption.loading
						%img{src: "style/loading.gif", alt: "loading...", width: "16", height: "16"}
